<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOILER PLATE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-GLhlTQ8iKu49G6gHAeVHk8tO+L0joUcN+FUvpgu4C9z9DIHqZ6iGksd6MI1aaP" crossorigin="anonymous">

</head>

<body>
    <%- include('../partials/navbar') %>
        <main class="container mt-5">
            <%-body %>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-eAqzBAvqha9R+jzY4mI0nRoq9V3L1ofN2YRaX1Raaq2jxqjQIZqL4jme1fkLg5IT"
            crossorigin="anonymous"></script>
</body>

</html>