<% layout('layout/boilerplate')%>
    <h1>
        <%=campground.title %>
    </h1>
    <h2>
        <%=campground.location%>
    </h2>
    <p>
        <a href="/campgrounds/<%=campground._id%>/edit">Edit</a>
    </p>


    <form action="/campgrounds/<%=campground._id%>?method=DELETE" method="post">
        <button>delete</button>
    </form>
    <p><a href="/campgrounds">All campgrounds</a></p>